.navColor {
  background-color: rgb(160, 2, 2);
}
.link-items {
  color: white !important;
  padding: 30px;
  font-family: sans-serif;
  font-size: 30px;
}
.carousel-content {
  height: 650px;
}
#footer {
  background-color: darkred;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-paragraph {
  color: white;
  font-size: 20px;
  font-weight: bold;
}
